body { background: #117b89; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 20px; display: flex; }
.block-uploader-0 { color: #8f7af6; font-size: 19px; margin-bottom: 5px; }
.block-search-1 { color: #d6148; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #e35774; font-size: 19px; margin-bottom: 5px; }
.block-validator-3 { color: #eb1418; font-size: 16px; margin-bottom: 5px; }
.block-helper-4 { color: #32378d; font-size: 18px; margin-bottom: 5px; }
.block-email-5 { color: #cc6030; font-size: 14px; margin-bottom: 5px; }